* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: DM Sans;
  background-color: rgba(0, 0, 0, 0.037);
  line-height: 1;
}
.container {
  max-width: 75rem;
  margin: 4rem auto;
  display: flex;
  gap: 2rem;
  height: auto;
  /* flex-direction: column; */
  box-shadow: -0.5rem 0.5rem 4rem rgba(0, 0, 0, 0.048);
}
.flex {
  display: flex;
  flex-direction: column;
  /* width: 100%rem; */
  flex: 1.3;
  /* width: 300%; */
  gap: 2rem;
}
.one {
  flex: 3;
  background-color: hsl(31, 66%, 93%);
  /* padding: ; */
  font-size: 2.5rem;
  padding: 5rem 2rem;
  font-weight: 600;
  letter-spacing: -0.2rem;
  line-height: 0.9;
}
.one em {
  color: hsl(256, 67%, 59%);
}
.create-div {
  margin-top: 2rem;
  text-align: center;
}
.create {
  width: 99%;
}
.six {
  flex: 1;
  background-color: hsl(39, 100%, 71%);
  padding: 1.4rem 1.6rem;
  font-size: 2.6rem;
  line-height: 0.8;
  font-weight: 600;
  letter-spacing: -0.2rem;
}
.ai-div {
  margin-top: 2.8rem;
}
.ai {
  width: 100%;
  margin-top: rem;
}
.small-cont {
  display: grid;
  gap: 2rem;
  /* background-color: aqua; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.74fr 0.74fr 0.74fr;
  /* width: 100%; */
  flex: 4.4;
}
.two {
  /* height: 122%; */
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: hsl(256, 67%, 59%);
  padding: 4rem 4rem;
}
.three {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: hsl(254, 88%, 90%);
  padding: 2.3rem 2.5rem;
  overflow: hidden;
}
.seven {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: white;
  padding: 1.2rem 2rem;
}
.seven-img {
  width: 80%;
}
.seven strong {
  font-size: 4rem;
  font-weight: 600;
  display: block;
  margin-bottom: 1rem;
}
.seven-p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.four {
  background-color: white;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
}
.four-img {
  width: 140%;
  /* margin-bottom: 1rem; */
}
.four p {
  margin-top: 1rem;
}
.five {
  background-color: hsl(39, 100%, 71%);
  padding: 1.5rem;
  letter-spacing: -0.1rem;
  line-height: 0.9;
  font-size: 2.1rem;
  font-weight: 700;
  overflow: hidden;
  height: 100%;
  /* grid: 2; */
}
.five-img {
  width: 90%;
  /* margin-bottom: -2rem; */
  /* margin-top: 0rem; */
}
.five p {
  margin-bottom: 1rem;
}
.eight {
  display: flex;
  flex-direction: row;
  padding: 1.7rem 0rem 1.7rem 1.7rem;
  grid-column: 2/4;
  grid-row: 3/4;
  background-color: hsl(256, 67%, 59%);
}
.eight-image {
  width: 40%;
}
.eight p {
  font-size: 2.4rem;
  font-weight: 500;
  color: white;
  margin-top: 2.5rem;
  margin-left: 1rem;
}
.item {
  /* background-color: aqua; */
  border-radius: 0.6rem;
}
.five-stars {
  /* width: 11rem; */
  margin-top: 1.5rem;
  text-align: center;
}
.five-starss {
  width: 45%;
}
.reviews {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 1.3rem;
}
.title-two {
  font-size: 3.9rem;
  text-align: center;
  line-height: 1;
  color: white;
  font-weight: 500;
}
.ylw {
  color: hsl(39, 100%, 71%);
  font-size: 3.9rem;
  text-align: center;
  line-height: 1;
  /* color: white; */
  font-weight: 500;
  display: inline;
}
.schedule {
  width: 188%;
}
/* .schedule-div {
  margin-left: 2rem;
} */

.title-three {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin-bottom: 1.3rem;
  line-height: 1;
}
.three p {
  font-size: 1.1rem;
  margin-top: 1rem;
  font-weight: 600;
}
.attribution {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

@media (max-width: 45.7em) {
  .container {
    flex-direction: column;
    width: 77%;
    box-shadow: none;
  }
  .small-cont {
    order: -1;
    display: flex;
    flex-direction: column;
  }
  .two {
    padding: 3rem 7rem;
  }
  .four-img {
    width: 90%;
  }
  .four {
    font-size: 3rem;
  }
  .five-img {
    width: 40%;
    margin-bottom: -5rem;
    margin-top: 1rem;
  }
  .five {
    font-size: 2.7rem;
    overflow: hidden;
    /* padding-right: 9rem; */
  }
  .five p {
    padding-right: 5rem;
  }
  .schedule {
    width: 70%;
  }
  .title-three {
    font-size: 3.8rem;
    margin-bottom: 2rem;
  }
  .three P {
    font-weight: 400;
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
  }
  .eight {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eight p {
    padding: 1rem 5rem;
    text-align: center;
  }
  .seven-img {
    width: 60%;
  }
  .seven-p {
    font-size: 2.8rem;
  }
  .create {
    width: 50%;
  }
  .one {
    padding: 4rem 2rem 2rem 2rem;
  }
  .six {
    font-size: 3rem;
    padding-top: 3rem;
  }
  .ai-div {
    text-align: center;
  }
  .ai {
    width: 45%;
  }
}

@media (max-width: 29em) {
  html {
    font-size: 90%;
  }
  .container {
    /* display: inline-block; */
    flex-direction: column;
    padding: 0 0.7rem;
    max-width: 95%;
  }
  .four-img {
    width: 95%;
  }
  .small-cont {
    order: -1;
    display: flex;
    flex-direction: column;
  }
  .five-img {
    width: 66%;
    margin-bottom: -3.5rem;
    /* margin-top: 5rem; */
  }
  .five {
    overflow: hidden;
  }
  .three p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }
  .schedule {
    width: 95%;
  }
  .eight {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* justify-content: center; */
    align-items: center;
  }
  .eight-image {
    width: 60%;
  }
  .eight p {
    text-align: center;
    margin-left: 0;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .seven-img {
    width: 60%;
  }
  .one {
    padding: 2rem 2rem;
  }
  .ai {
    width: 69%;
  }
  .ai-div {
    margin-top: 2rem;
  }
  .title-two {
    font-size: 2.8rem;
  }
  .ylw {
    font-size: 2.6rem;
  }
  .five-stars {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .two {
    padding: 2.3rem;
  }
}
